body{
    background-image: url("IMG/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-Container{
    backdrop-filter: blur(10px);
    width: 60%;
    height: 90%;
}

.Tictac-Container{

    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    border-color: rgba(0, 255, 255, 0.783);
    box-shadow:
    inset 0 -3em 3em rgba(0, 200, 67, 0.3),
    0.7em 0.7em 1.3em rgba(221, 39, 179, 0.683);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    width: 24rem;
    height: 22rem;
    margin: 50px auto;
    margin-top: 1.7rem;
    

}

#Celda0{
    grid-column: 1;
    grid-row: 1;
    border-bottom: 3px solid rgb(73, 223, 216);
    border-right: 3px solid rgb(73, 223, 216) ;
    color: aqua;
    
    
}

#Celda1{
    grid-column: 2;
    grid-row: 1;
    border-bottom: 3px solid rgb(73, 223, 216);
    border-left:3px solid rgb(73, 223, 216);
   
}
#Celda2{
    grid-column: 3;
    grid-row: 1;
    border-left:3px solid rgb(73, 223, 216);
    border-bottom: 3px solid rgb(73, 223, 216);
}
#Celda3{
    grid-column: 1;
    grid-row: 2;
    border-right: 3px solid rgb(73, 223, 216);
    
    
}
#Celda4{
    grid-column: 2;
    grid-row: 2;
    border-right: 3px solid rgb(73, 223, 216);
    border-bottom: 3px solid rgb(73, 223, 216);
}
#Celda5{
    grid-column: 3;
    grid-row: 2;
    border-bottom: 3px solid rgb(73, 223, 216);

  
}
#Celda6{
    grid-column: 1;
    grid-row: 3;
    border-top:3px solid rgb(73, 223, 216);
    border-right: 3px solid rgb(73, 223, 216);

}
#Celda7{
    grid-column: 2;
    grid-row: 3;

}
#Celda8{
    grid-column: 3;
    grid-row: 3;
    border-left:3px solid rgb(73, 223, 216);
}
.celda{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 6rem;
    color: aqua;
    font-weight: bolder;
}
.tituloTicTac{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-top: 3rem;
    
}
#scoreboard {
    text-align: center;
    font-size: 1.6rempx;
    display: flex;
    justify-content: center;
    padding: 0px;
}
#imageX{
    align-self: self-start;
    
}
.puntaje{
    text-align: center;
    font-size: 1.6rempx;
}
#player1{
    color: aquamarine;
    align-self: stretch;
    font-size: 2rem;
    font-weight: bold;
}
#player2{
    color: rgb(42, 57, 225);
    font-size: 2rem;
    font-weight: bold;
}

#reinicio{
    color: rgb(40, 208, 202);
    background-color: rgb(52, 5, 101);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    

}
